:root {
  /* Primary */
  --purple: #854dff;
  --light-red: #ff5757;

  /* Neutral */
  --off-white: #f0f0f0;
  --light-grey: #dbdbdb;
  --smokey-grey: #716f6f;
  --off-black: #141414;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--off-white);
  color: var(--smokey-grey);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card--wrapper,
.calculator--section,
.calculator--section-inputs,
.calculator--section-buttons,
.results--section {
  display: flex;
}

.card--wrapper,
.calculator--section,
.results--section {
  flex-direction: column;
}

.card--wrapper {
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 84rem;
  background-color: #fff;
  padding: 3rem;
  border-radius: 1rem 1rem 5rem;
}

.calculator--section {
  gap: 2rem;
}

.calculator--section-inputs {
  gap: 1rem;
}

.calculator--section-buttons {
  justify-content: center;
  align-items: center;
  width: 100%;
}

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--light-grey);
}

.label {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.label--day-error,
.label--month-error,
.label--year-error,
.error--message {
  color: var(--light-red);
}

.input {
  display: block;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  padding: 0.4em 1em;
  border: 1px solid var(--light-grey);
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.input:focus {
  outline: 1px solid var(--purple);
}

.input--day-error,
.input--month-error,
.input--year-error {
  border: 1px solid var(--light-red);
}

button {
  background-color: var(--purple);
  padding: 1.5rem;
  border: none;
  border-radius: 50%;
  transition: 300ms all;
}

button:hover,
button:active {
  background-color: var(--off-black);
}

.results--section {
  width: 100%;
}

.results--section p {
  font-size: 6rem;
  font-weight: 800;
  font-style: italic;
  color: var(--off-black);
}

.results--section p span {
  color: var(--purple);
}

@media (min-width: 668px) {
  .calculator--section-inputs {
    width: 80%;
  }

  .calculator--section-buttons {
    justify-content: flex-end;
  }

  .input {
    font-size: 3.2rem;
  }

  .results--section p {
    font-size: 10.4rem;
  }

  .card--wrapper {
    padding: 5.2rem;
    border-radius: 3rem 3rem 20rem;
  }

  .results--section {
    line-height: 12em;
  }

  button {
    padding: 2rem;
  }
}
